<div class="col s12 m12" [ngClass]="{'l6': spotSelected, 'l12': !spotSelected}">
    <div class="card green lighten-1" *ngIf="dataReady">
        <div class="card-header">
            <sebm-google-map [latitude]="field.latitude" [longitude]="field.longitude" [mapTypeControl]=true [zoom]="16" [streetViewControl]=false [scrollwheel]=false>
                Loading...
                <sebm-google-map-marker *ngFor="let s of spots" [latitude]="s.latitude" [longitude]="s.longitude" [title]="toto" (markerClick)="markerClick(s)"></sebm-google-map-marker>
            </sebm-google-map>
        </div>
        <div class="card-content white-text">
            <span class="card-title">Carte du champs</span>
            <div class="row">
                <div class="col l6 s12 m12 center-align">
                    <h3><ng-container *ngIf="field.weather">{{field.weather.temperature}} </ng-container><i class="wi wi-celsius"></i></h3>
                </div>
                <div class="col l6 s12 m12 center-align">
                    <h3><ng-container *ngIf="field.weather">{{field.weather.humidity}} </ng-container><i class="wi wi-humidity"></i></h3>
                </div>
            </div>
            <div class="row">
                <p class="center-align">70 <i class="fa fa-percent"></i></p>
                <div class="progress brown lighten-4">
                    <div class="determinate brown lighten-1" style="width: 70%"></div>
                </div>
            </div>
            <div class="row center-align">
                <p class="flow-text">
                    Latitude {{field.latitude}}
                    <i class="material-icons">room</i>
                    {{field.longitude}} Longitude
                </p>
            </div>
            <div class="row center-align">
                <p class="flow-text">
                    <i class="fa fa-leaf"></i> <ng-container *ngIf="crop"> {{ getCurrentCulture(crop) }} </ng-container>
                </p>
            </div>
        </div>
    </div>
    <div class="card green lighten-1">
        <div class="card-content white-text">
            <span class="card-title">Liste des parcelles</span>
            <table class="highlight">
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Longitude / Latitude)</th>
                    <th>Nombre d'interventions</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let spot of spots" (click)="markerClick(spot)">
                    <td>{{spot.id}}</td>
                    <td>{{spot.longitude}} / {{spot.latitude}}</td>
                    <td>34</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
