@import "imports/materialize/sass/components/color";
$primary-color : color("brown", "base") !default;
@import "imports/materialize/sass/materialize";

.preloader-wrapper {
  margin-top: 200px;
  margin-bottom: 200px;
}

fore-field {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.sebm-google-map-container {
  height: 500px;
}

.parallax-container {
  height: 300px;
}

.parallax {
  background-position: center;
}
