@import "imports/materialize/sass/components/color";
$primary-color : color("brown", "base") !default;
@import "imports/materialize/sass/materialize";

.preloader-wrapper {
  margin-top: 200px;
  margin-bottom: 200px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.sebm-google-map-container {
  display: run-in;
  position: relative;
  height: 300px;
}
