<div *ngIf="handler.showList">
    <a href="#" (click)="resetField()">Back to List</a>
    <div style="display: flex; flex-direction: row">
        <div>
            <map [field]="fields[handler.getCurrentField()]" [spots]="spots" (spotSelect)="getSpotData($event)">Loading ...</map>
        </div>
        <div>
            <data [field]="fields[handler.getCurrentField()]" [spot]="spots[handler.getCurrentSpot()]"></data>
        </div>
    </div>

</div>
<div *ngIf="!handler.showList">
    <ul>
        <li *ngFor="let f of fields" (click)="updateField(f.id)">{{f.name}}</li>
    </ul>
</div>
