<div *ngIf="spot != undefined">
    <div class="col l6 m12 s12" [ngClass]="{'hidden': !spot}">
        <div class="card green lighten-1">
            <div class="card-content white-text">
                <span class="card-title">Parcelle {{spot.id}}</span>
                <div class="row">
                    <div *ngIf="tab == 1" class="col s12">
                        <h5 class="center-align light">Informations</h5>

                        <ng-container *ngIf="spot.datas">
                            <div  *ngFor="let data of spot.datas">

                                <div class="row">
                                    <div class="col l6 m6 s12" *ngIf="data.humidities">
                                        <h3 class="center-align"><i class="wi wi-humidity"></i></h3>
                                        <h4 class="center-align light">Humidité de l'air</h4>
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>Valeur</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr *ngFor="let h of data.humidities">
                                                <td>{{ h.value }} %</td>
                                                <td>{{ h.date }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col l6 m6 s12" *ngIf="data.temperatures">
                                        <h3 class="center-align"><i class="wi wi-thermometer"></i></h3>
                                        <h4 class="center-align light">Température</h4>
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>Valeur</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr *ngFor="let t of data.temperatures">
                                                <td>{{ t.value }} °C</td>
                                                <td>{{ t.date }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col l6 m6 s12" *ngIf="data.luminosity">
                                        <h3 class="center-align"><i class="wi wi-horizon-alt"></i></h3>
                                        <h4 class="center-align light">Luminosité</h4>
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>Valeur</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr *ngFor="let l of data.luminosity">
                                                <td>{{ l.value }} lx</td>
                                                <td>{{ l.date }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col l6 m6 s12" *ngIf="data.moistures">
                                        <h3 class="center-align"><i class="wi wi-raindrop"></i></h3>
                                        <h4 class="center-align light">Humidité du sol</h4>
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>Valeur</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr *ngFor="let m of data.moistures">
                                                <td>{{ moisturePercentage(m.value) }} %</td>
                                                <td>{{ m.date }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-container>


                    </div>
                    <div *ngIf="tab == 2" id="interventions" class="col s12">
                        <h5 class="center-align light">Interventions</h5>

                        <div class="row">
                            <form class="col s12 green-text text-darken-2">
                                <div class="input-field col s12">
                                    <select materialize="material_select">
                                        <option disabled="" selected="" value="">Type</option>
                                        <option value="1">Option 1</option>
                                        <option value="1">Option 2</option>
                                        <option value="1">Option 3</option>
                                    </select>
                                </div>
                                <div class="input-field col s12 white-text">
                                    <textarea id="textarea1" class="materialize-textarea white-text"></textarea>
                                    <label for="textarea1">Description</label>
                                </div>
                                <div class="row right">
                                    <button class="btn-floating waves-effect waves-green brown white-text btn-large"><i class="material-icons">send</i></button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-action green">
                <a class="brown-text cursor-click" (click)="changeTab(1)">Informations</a>
                <a class="brown-text cursor-click" (click)="changeTab(2)">Interventions</a>
            </div>
        </div>
    </div>
</div>